
../bin/
../obj/

DRLib/obj/Debug/net9.0/DRLib.assets.cache

DRLib/obj/Debug/net9.0/DRLib.csproj.AssemblyReference.cache

DRLib/obj/DRLib.csproj.nuget.dgspec.json

DRLib/obj/project.assets.json

DRLib/obj/project.nuget.cache

DRLib/obj/project.packagespec.json

DRLib/obj/rider.project.restore.info

DRTest/bin/Debug/net9.0/DRTest.deps.json

DRTest/obj/Debug/net9.0/DRTest.assets.cache

DRTest/obj/Debug/net9.0/DRTest.csproj.CoreCompileInputs.cache

DRTest/obj/Debug/net9.0/DRTest.csproj.FileListAbsolute.txt

DRTest/obj/DRTest.csproj.nuget.dgspec.json

DRTest/obj/project.assets.json

DRTest/obj/project.nuget.cache

DRTest/obj/rider.project.restore.info
